@use 'sass:map';
@use 'vuetify/settings';

// Vuetify
@layer vuetify-core.reset {
  ul {
    padding: 0;
    margin: 0;
  }

  h5 {
    margin: 0;
  }
}

// Other
html {
  overflow-y: auto;
}

.v-expansion-panel-text__wrapper,
.v-expansion-panel-title {
  padding-left: 16px;
  padding-right: 16px;
}

.wrapper-no-pb-bottom .v-expansion-panel-text__wrapper {
  padding-bottom: 0;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #90caf9;
    text-decoration: none;
  }

  &:hover {
    color: #42a5f5;
  }
}

.heart-red {
  color: #ff1744;
}

@media #{map.get(settings.$display-breakpoints, 'sm-and-up')} {
  .text-sm-display-larger {
    font-size: 6rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.015625em;
  }
}
